.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* CSS for individual card */
.card {
  width: calc(33.33% - 20px); /* Adjust the width as needed */
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 500px;
}

/* Hover effect */
.card:hover {
  transform: scale(1.05); /* Increase size by 5% */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

/* CSS for card image */
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
}

/* CSS for card body */
.card-body {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* CSS for card title */
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* CSS for card text */
.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}



/* Ensure equal height for all cards */
.card-container {
  align-items: stretch;
}
.btn-primary {
  margin-top: auto;
  margin-bottom: 0.5rem; /* Adjust margin between buttons */
}
.row{
  margin: 0;
  padding: 0;
  
  /* background-color: rgb(202, 202, 189); */
  height: 100%;
  background-image: url('https://www.carandbike.com/_next/image?url=https%3A%2F%2Fc.ndtvimg.com%2F2022-01%2F0d2m0qkg_car_625x300_12_January_22.jpg&w=750&q=75');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;

}