.bg-img{
    background-image: url('https://www.topgear.com/sites/default/files/2022/01/2-Mercedes-G-Class.jpg');
    height: 100vh;
    justify-content: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.about{
    padding-left: 1200px;
    padding-top: 120px;
}
h4{
    color: white;
    padding-bottom: 200px;
    
}