body{
    margin: 0;
    padding: 0;

    background-image: url('https://wallpapers.com/images/hd/rolls-royce-black-wraith-sideview-0tq1kh6wec4gy56j.jpg');
    height: 100vh;
    justify-content: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;


 }
 .container {
    position: absolute;
    top: 30%;
    right: -500px; /* Adjust this value to position the text as desired */
    transform: translateY(-50%);
    font-weight:bolder;
    color: white;
    font-size: 50px;
}

.rent-button {
    position: absolute;
    top: 43%; /* Adjust this value to position the button vertically */
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}